@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sansation', sans-serif;

}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right  #e2e2e2, #c9d6ff);
    color: #333;
}

.container{
    margin: 0 15px;
}

.form-box{
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 450px;
    display: none;
}
.form-box.active{
    display: block;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 34px;
}

input,
select
{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition:  0.5s ;
}

button:hover{
    background: #5a7bd8;
}

p{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
p a{
    color: #7494ec;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}

.error-message {
    background: #f8d7da;
    color: #721c24;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
}
